.sidebar-container {
  height: 85vh;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #232135;
  color: #8f8ca8;
}
.side-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
svg.bg-color {
  color: #8f8ca8;
  text-decoration: none;
}
