.article-right {
  color: #8f8ca8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem;
  width: 50vw;
  border: 3px solid green;
}
.article-right li {
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.5rem;
  gap: 4rem;
}

li:first-child {
  margin-bottom: 1rem;
  color: #e8e8e8;
  font-size: 1.2rem;
  font-weight: 100;
}
.final-art {
  padding: 1rem;
  background: rgba(232, 232, 232, 0.1);

  /* border-bottom: 0.25rem solid violet; */
  /* background-color: blueviolet; */
}
li {
  color: #e8e8e8;
}

.final-art.bar {
  position: relative;
  border-bottom: 1rem solid violet;
}
.bar {
  border-bottom: 3px solid violet;
  width: 100%;
  z-index: 10;
}
