.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid green;
  padding: 0 10px;
}
.left-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.infos-left-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.infos-left-footer span {
  font-size: 1rem;
}
