.left-btn {
  display: flex;
  gap: 0.75rem;
}

.btn {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  border: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn svg {
  size: 4em;
}

.bg-red {
  background: #ed6a5e;
}

.bg-yellow {
  background: #f4bf4f;
}

.bg-green {
  background: #61c554;
}

.icons-left svg {
  size: 4em;
}
