/* header container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background: #232135;
  color: #8f8ca8;
}

/* left-side buttons */
.left-btn {
  display: flex;
  gap: 0.75rem;
  box-sizing: border-box;
}

.btn {
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 9999px;
  border: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn svg {
  size: 4em;
  display: none;
}

.bg-red {
  background: #ed6a5e;
}

.bg-yellow {
  background: #f4bf4f;
}

.bg-green {
  background: #61c554;
}

.icons-left svg {
  size: 4em;
}

/* right-btn */

.right-btn {
  display: flex;
  gap: 0.75rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid red;
}
.right-btn a svg {
  color: #8f8ca8;
}
svg.rotate-down {
  rotate: 270deg;
}
svg.rotate-right {
  rotate: 180deg;
}
/* .rotate-left .rotate-down .rotate-right .rotate:hover {
  box-shadow: 0px 0px 30px 13px rgba(216, 216, 216, 0.58);
} */

/* .rotate-left {
  border: 1px solid red;
  border-radius: 9999px;
  padding: 1px;
} */
