.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  /* background: #232135; */
  background: #2a273f;
  color: #8f8ca8;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/* footer left side */

.left-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}
.infos-left-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.infos-left-footer span {
  margin: 0 0.3rem;
  font-size: 1.35rem;
}
/* footer right side */
.right-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.right-footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: #8f8ca8;
  text-decoration: none;
}
